<!-- Bloques de notas 1-4 2 v l -->
<section class="bloque_notas--5_billb mb-6">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 bg-light nota">
				<div class="row">
					<div class="col-12 bg-light nota">
						<div class="row meta">
							<div class="col categoria">
								<small>Categoría</small>
							</div>
							<div class="col hora text-right">
								<small>Hace 1 hora <i class="fas fa-clock"></i></small>
							</div>
						</div>
						<img src="http://fakeimg.pl/530x200/ccc/333/?text=placeholder" class="img-fluid d-block" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
						<h5 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
					</div>
					<div class="col-12 bg-light nota">
						<div class="row meta">
							<div class="col categoria">
								<small>Categoría</small>
							</div>
							<div class="col hora text-right">
								<small>Hace 1 hora <i class="fas fa-clock"></i></small>
							</div>
						</div>
						<img src="http://fakeimg.pl/530x200/ccc/333/?text=placeholder" class="img-fluid d-block" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
						<h5 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/530x500/ccc/333/?text=placeholder" class="img-fluid d-block" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
		</div>
	</div>
</section>