<!-- Bloques de notas 7 - BB -->
<section class="bloque_notas--7_bb mb-6">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="encabezado">
					<h2 class="encabezado-titulo flecha">
						<a href="#">Non sunt nihil sequi velit et voluptatem</a>
					</h2>
					<p class="encabezado-descripcion">Impedit voluptatem est sed corrupti et dolores ut necessitatibus consequatur porro nam ea quis sed tempore reiciendis ut provident laborum qui voluptatem repellendus sapiente beatae hic molestiae ratione aut dolorum rerum iusto dolores
					</p>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<img src="http://fakeimg.pl/300x300/333/ccc/?text=BoxBanner" class="img-fluid d-block imagen-nota" alt="Publicidad...">
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 bg-light nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
		</div>
	</div>
</section>