<!-- Bloques de notas 1-6 hp -->
<section class="bloque_notas--5_billb mb-6">
	<div class="container">
		is active!! 1-6 hp 4
		<div class="row">
			<div class="col-12">
				<div class="encabezado">
					<h2 class="encabezado-titulo">
						<a href="<?php $category_link; ?>">
							<span class="nombre-sitio">POSTA</span>
							<span class="nombre-taxonomia">THEME NAME</span>
						</a>
					</h2>
				</div>
			</div>	
			<div class="col-12 col-lg-9 nota large">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<div class="imagen-nota-container">
					<img src="http://fakeimg.pl/970x570/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
					<h5 class="titulo-nota text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
				</div>
			</div>
			<div class="col-12 col-lg-3 nota">
				<img src="http://fakeimg.pl/300x600/333/ccc/?text=HalfPage" class="img-fluid d-block" alt="Publicidad...">
			</div>
			<div class="col-12 col-md-6 col-lg-3 nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
			<div class="col-12 col-md-6 col-lg-3 nota">
				<div class="row meta">
					<div class="col categoria">
						<small>Categoría</small>
					</div>
					<div class="col hora text-right">
						<small>Hace 1 hora <i class="fas fa-clock"></i></small>
					</div>
				</div>
				<img src="http://fakeimg.pl/350x200/ccc/333/?text=placeholder" class="img-fluid d-block imagen-nota" alt="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				<h5 class="titulo-nota">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
			</div>
		</div>
	</div>
</section>